body {
    margin: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-wrapper {
    background-color: grey;
    display: grid;
    padding: 25px;
    gap: 25px;
    grid-template-areas:
        "header header header"
        "sidebar content content"
}

h2 {
    grid-area: header;
    text-align: center;
}

.left-controls {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.grid-container {
    grid-area: content;
    box-sizing: border-box;
    display: grid;
    height: 600px;
    width: 600px;
}

.square {
    box-sizing: border-box;
    border: solid 1px black;
    background-color: white;
}