body {
    margin: 0;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 5px 10px;
}

.grid-container {
    box-sizing: border-box;
    display: grid;
    border: 1px solid black;
    height: 256px;
    width: 256px;
}

.grid {
    box-sizing: border-box;
    border: solid 1px black;
}